<script lang="ts">
  import '../app.css'
</script>
<svelte:head>
  <title>priva.ml</title>
  <meta name="description" content="priva.ml | make my life private">
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.1/dist/css/bootstrap.min.css"
  />
</svelte:head>

<main class="container-xxl">
  <div class="row">
    <div class="col">
      <slot />
    </div>
  </div>
</main>

<footer>
</footer>
