<script context="module">
	export const prerender = true;
</script>
<script type="ts">
	import { onMount } from 'svelte';

	export let text = 'make my life private'
  let logoHeight: number;

	onMount(() => {
		let running = true;
		let currentTimeout = null;

		function randomizer(prop = '--px', unit = 'px', timeout = 100) {
			if (running) {
				currentTimeout = setTimeout(() => randomizer(prop, unit, timeout), Math.random() * timeout);
				let i = 10;
				while (--i) {
					const r = Math.round((Math.random() - Math.random()) * 100);
					document.documentElement.style.setProperty(prop + i, r + unit);
				}
			}
		}

		randomizer('--px', 'px', 100);
		randomizer('--per', '%', 500);

		return () => {
			running = false;
			if (currentTimeout) clearTimeout(currentTimeout);
		};
	});
</script>

<div class="text-center full hold focus">
	<div class="position-relative text-left" style="margin-auto">
		<div bind:clientHeight={logoHeight} class="focus glitching">
			<img alt="priva.ml" class="logo rgb" src="/img/privaml-logo.webp" />
		</div>
		<div class="" style="position: relative; top: -{logoHeight * 0.25}px">
			<p class="rgb">
				<span class="slogan loadingTXT loadingTXT2">
					{#each text.split('') as char}
						<span>{char}</span>
					{/each}
				</span>
      </p>

		</div>
	</div>
</div>

<style>
  .logo {
    font-style: italic;
    font-weight: bold;
    font-size: 18vw;
    margin-top: 4%;
    width: clamp(320px, 70%, 720px);
    min-width: 320px;
  }

  .slogan {
    font-size: clamp(1.4rem, 7vw - 1rem, 3.4rem);
    color: white;
    margin-right: 30px;
  }

/*  .loadingTXT span {
    animation: blinkk 60s ease-in infinite;
  }
  */

  .loadingTXT span {
    animation: upper 60s ease-in infinite;
  }
  
  .loadingTXT span:nth-of-type(6),
  .loadingTXT span:nth-of-type(9),
  .loadingTXT span:nth-of-type(14),
  .loadingTXT span:nth-of-type(15),
  .loadingTXT span:nth-of-type(16),
  .loadingTXT span:nth-of-type(17),
  .loadingTXT span:nth-of-type(18) {
    animation: blinkk 22s linear infinite;
  }

  .loadingTXT span:nth-of-type(1),
  .loadingTXT span:nth-of-type(2),
  .loadingTXT span:nth-of-type(3),
  .loadingTXT span:nth-of-type(7) {
    animation: upper 11s ease-in infinite;
  }
  .loadingTXT span:nth-of-type(4) {
    animation: upper 11s linear infinite;
  }

  .loadingTXT2 span:nth-of-type(10) {
    animation: upper 120s ease-in infinite;
  }

  .loadingTXT span:nth-of-type(10) {
    animation: upper 120s ease-in infinite;
  }
 
  .loadingTXT span:nth-of-type(1) {
    animation: blinkk 40s ease-out infinite;
  }

  .loadingTXT span:nth-of-type(17) {
    animation: blinkk 90s ease-in infinite;
  }
  
  .loadingTXT2 span:nth-of-type(16) {
    animation: blinkk 60s linear infinite;
  }
  .loadingTXT2 span:nth-of-type(17) {
    animation: blinkk 60s ease infinite;
  }
  .loadingTXT2 span:nth-of-type(18) {
    animation: blinkk 30s ease-in-out infinite;
  }

  .loadingTXT span:nth-of-type(19) {
    animation: upper 50s ease infinite;
  }

  @keyframes upper {
    0%,
    19.999%,
    22%,
    62.999%,
    64%,
    64.999%,
    70%,
    100% {
      opacity: 0.3;
      text-shadow: none;
    }
    20%,
    21.999%,
    63%,
    63.999%,
    65%,
    69.999% {
      opacity: 0.99;
      text-shadow: 0 0 80px #ffffff, 0 0 30px #008000, 0 0 6px #0000ff;
    }
  }
  @keyframes blinkk {
    0%,
    12%,
    18.999%,
    23%,
    31.999%,
    37%,
    44.999%,
    46%,
    49.999%,
    51%,
    58.999%,
    61%,
    68.999%,
    71%,
    85.999%,
    96%,
    100% {
      opacity: 0.99;
     text-shadow: 0 0 30px white, 0 0 12px gray, 0 0 6px darkgray;
    }
    19%,
    22.99%,
    32%,
    36.999%,
    45%,
    45.999%,
    50%,
    50.99%,
    59%,
    60.999%,
    69%,
    70.999%,
    86%,
    95.999% {
      opacity: 0.4;
      text-shadow: none;
    }
  }
</style>
