@font-face {
	font-family: 'Almondia';
	src: url('/fonts/almondia.woff') format('woff');
}

body {
	background: black;
	font-family: 'Almondia', sans-serif;
	color: white;
	font-size: 16pt;
}

.full {
	width: 100%;
	min-height: 100vh;
}

.focus {
	margin-left: auto;
	margin-right: auto;
	float: none;
	clear: both;
}

.gap {
	padding: 3%;
	padding: clamp(0.5em, 3%, 1.5em);
}

.hold {
	overflow: hidden;
}

.leak {
	overflow: visible;
}

.crack {
	margin-bottom: 1%;
}

.loud {
	font-size: 150%;
}

.rgb {
	--s: 1;
	--rx: calc(var(--s) * -1px);
	--ry: calc(var(--s) * 1px);
	--bx: calc(var(--s) * 1px);
	--by: calc(var(--s) * -1px);
	--gx: calc(var(--s) * 0px);
	--gy: calc(var(--s) * 0px);
	--gb: 2px;
	--a: 1;
	--wasx: 0px;
	--wasy: 0px;
	filter: drop-shadow(var(--rx) var(--ry) 1px rgba(255, 0, 0, var(--a)))
		drop-shadow(var(--gx) var(--gy) var(--gb) rgba(0, 255, 0, var(--a)))
		drop-shadow(var(--bx) var(--by) 1px rgba(0, 0, 255, var(--a)));
}

img.rgb {
	--rx: -3px;
	--ry: 2px;
	--bx: 3px;
	--by: 0px;
	--gb: 1px;
	--a: 1;
	--wasx: 0px;
	--wasy: 0px;
	filter: drop-shadow(var(--rx) var(--ry) 1px red) drop-shadow(0px -3px var(--gb) green)
		drop-shadow(1px 2px var(--gb) green) drop-shadow(var(--bx) var(--by) 1px blue);
}

.glitch:hover {
	animation: 3s 0.1s infinite glitch;
}

.glitching {
	animation: 3s 0.1s infinite glitch;
}

@keyframes glitch {
	0% {
		--a: 0.5;
		/*opacity: 1;
  transform:  translate(0,0);
  --rx: var(--px1); --ry: calc(var(--px2) / 3);
  --bx: var(--px3); --by: calc(var(--px4) / 3);
  --gb: var(--px5);*/
	}
	9% {
		opacity: 1;
	}
	10% {
		opacity: 0;
		transform: translate(0, 0);
	}
	11% {
		opacity: 0;
		--wasx: calc(var(--per6) / 10);
		--wasy: calc(var(--per7) / 10);
		transform: translate(var(--wasx), var(--wasy));
	}
	13% {
		opacity: 0;
	}
	14% {
		opacity: 1;
	}
	40% {
		transform: translate(var(--wasx), var(--wasy));
		--rx: calc(var(--px5) * 1.5);
		--ry: calc(var(--px4) / 3);
		--bx: calc(var(--px3) * 1.5);
		--by: calc(var(--px2) / 3);
		--gb: var(--px1);
	}
	41% {
		transform: translate(0, 0);
	}
	60%,
	70%,
	80%,
	90% {
		--rx: var(--px8);
		--ry: calc(var(--px6) / 3);
		--bx: var(--px7);
		--by: calc(var(--px1) / 3);
		--gb: var(--px9);
	}
}
